## Librerias

In [18]:
import pandas as pd

In [19]:
Tarifa = [{'Poliza':'8849394','Aplica':23,'Coste':340},
          {'Poliza':'8849394','Aplica':23,'Coste':600},
          {'Poliza':'4500040','Aplica':40,'Coste':900}]

In [32]:
df_tarifa = pd.DataFrame(Tarifa,index=['A','B','C'])

In [33]:
df_tarifa

    Poliza  Aplica  Coste
A  8849394      23    340
B  8849394      23    600
C  4500040      40    900

In [34]:
Geo = {'Poliza':['8849394','4500040'],
       'Aplica':[23,40],
       'Salario_medio':[20000,23000]}

In [35]:
df_geo = pd.DataFrame(Geo,index=['A','B'])

In [36]:
df_geo

    Poliza  Aplica  Salario_medio
A  8849394      23          20000
B  4500040      40          23000

In [40]:
df_tarifa.iloc[[2],:]

    Poliza  Aplica  Coste
C  4500040      40    900

In [41]:
df_tarifa.iloc[[2],[2]]

   Coste
C    900

In [42]:
df_tarifa.loc[:,['Coste']]

   Coste
A    340
B    600
C    900

In [43]:
df = df_tarifa.merge(df_geo,on = ['Poliza','Aplica'],how='inner')

In [44]:
df

    Poliza  Aplica  Coste  Salario_medio
0  8849394      23    340          20000
1  8849394      23    600          20000
2  4500040      40    900          23000

In [3]:
from scipy.stats import poisson

# Parámetro λ (tasa media de ocurrencia)
mu = 3  # por ejemplo, 3 eventos por unidad de tiempo

# Calcular P(X = 2) para la distribución de Poisson con λ = 3
prob_2_eventos = poisson.pmf(2, mu)
print(f"P(X = 2): {prob_2_eventos}")

# Calcular P(X <= 2) para la distribución de Poisson con λ = 3
prob_2_o_menos = poisson.cdf(2, mu)
print(f"P(X <= 2): {prob_2_o_menos}")

P(X = 2): 0.22404180765538775
P(X <= 2): 0.42319008112684364