## Librerias

In [6]:
import pandas as pd

In [7]:
Tarifa = [{'Poliza':'30293','Aplica':24,'Coste':405,'Age':30},
          {'Poliza':'30293','Aplica':24,'Coste':300,'Age':28},
          {'Poliza':'45403','Aplica':34,'Coste':250,'Age':23}]

In [39]:
Geo = {'Poliza': ['30293','45403'],
       'Aplica':[24,34],
       'SalaAVG':[22000,24000]}

In [40]:
Tarifa

[{'Poliza': '30293', 'Aplica': 24, 'Coste': 405, 'Age': 30},
 {'Poliza': '30293', 'Aplica': 24, 'Coste': 300, 'Age': 28},
 {'Poliza': '45403', 'Aplica': 34, 'Coste': 250, 'Age': 23}]

In [41]:
Geo

{'Poliza': ['30293', '45403'], 'Aplica': [24, 34], 'SalaAVG': [22000, 24000]}

In [42]:
df_tarifa = pd.DataFrame(Geo)

In [43]:
df_tarifa.head(3)

  Poliza  Aplica  SalaAVG
0  30293      24    22000
1  45403      34    24000

In [44]:
df_geo = pd.DataFrame(Geo)

In [45]:
df_geo

  Poliza  Aplica  SalaAVG
0  30293      24    22000
1  45403      34    24000

In [28]:
df_tarifa.iloc[:2,[2]]

   Coste
0    405
1    300

In [31]:
df_tarifa.loc[:2,['Aplica']]

   Aplica
0      24
1      24
2      34

In [33]:
df2 = df_tarifa.merge(df_geo,on=['Poliza','Aplica'],how='left')

In [34]:
df2

  Poliza  Aplica  Coste  Age  SalaAVG
0  30293      24    405   30    22000
1  30293      24    300   28    22000
2  45403      34    250   23    24000

In [35]:
df3 = df_tarifa.merge(df_geo,on=['Poliza','Aplica'],how='inner')

In [36]:
df3

  Poliza  Aplica  Coste  Age  SalaAVG
0  30293      24    405   30    22000
1  30293      24    300   28    22000
2  45403      34    250   23    24000

In [3]:
from scipy.stats import poisson

# Parámetro λ (tasa media de ocurrencia)
mu = 3  # por ejemplo, 3 eventos por unidad de tiempo

# Calcular P(X = 2) para la distribución de Poisson con λ = 3
prob_2_eventos = poisson.pmf(2, mu)
print(f"P(X = 2): {prob_2_eventos}")

# Calcular P(X <= 2) para la distribución de Poisson con λ = 3
prob_2_o_menos = poisson.cdf(2, mu)
print(f"P(X <= 2): {prob_2_o_menos}")

P(X = 2): 0.22404180765538775
P(X <= 2): 0.42319008112684364